<div class="footer">
    <div style="margin-left:20px; margin-right:20px;">
        <h2><b>Weather App | NodeJS</b></h2>
        <div style="padding-top: 10px;">
            Get the daily weather update for your city!
            <div style="padding-top: 10px;">
                <p style='float: left'>&copy Created by {{name}}</p>
                <p style='float: right'>Developed with ❤️ in India</p>
            </div>
        </div>
    </div>
</div>